page-login {
  background-color: color($colors, light, base);
  [ion-button]{
    text-transform: none;
    // box-shadow: none;
  }

  ion-item{
    padding-left:0!important;
  }
  
  .header{
    margin: 36px 0;
    h1,h2,h3 {
      font-weight: lighter!important;
    }
  }

  .page-content{
    margin: 18px 0 36px 0;
  }

  button.submit{
    margin-top:20px;
  }
}
