<ion-content padding>
    <div text-center class="header">
        <h1><ion-icon name="cube" color="primary"></ion-icon></h1>
        <h1>Fast Cargo Logistics</h1>
        <h3>Mobile Dispatch</h3>
    </div>
    <div class="page-content">
        <ion-list>
          <ion-item class="form-group">
            <ion-label stacked>Username</ion-label>
            <ion-input type="text"></ion-input>
          </ion-item>
          <ion-item class="form-group">
              <ion-label stacked>Password</ion-label>
            <ion-input type="password"></ion-input>
          </ion-item>
        </ion-list>
    </div>
    <button ion-button large block class="submit" (click)="attemptLogin()">Sign In</button>
</ion-content>
  