<ion-header>
  <ion-navbar  color="primary">
    <ion-title>
      Assign Driver to Truck
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <div class="truck-details" text-center>
      <h1 class="truck-type">{{ truck.getTruckType() }}</h1>
      <h1 class="truck-plate"># {{ truck.PlateNo }}</h1>
    </div>  
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let driver of drivers">
      <ion-icon name="contact" item-start></ion-icon>
      <h2>{{ driver.fullName() }}</h2>
      <h3>{{ driver.LicenseNo }}</h3>
      <button ion-button clear item-end>
       <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<!-- <ion-footer>
  <div class="truck-details" text-center>
    <h1 class="truck-type">{{ truck.getTruckType() }}</h1>
    <h1 class="truck-plate"># {{ truck.PlateNo }}</h1>
  </div>  
</ion-footer> -->
