// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

html, body{
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
}

h1, h2 h3, h4, h5, h6 {
  font-weight: lighter!important;
}
